@import "tailwindcss";

@theme {
  --color-brand: #c6f56e;
  --font-sans: "ClashDisplay-Variable", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

@layer base {
  h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }
}